@{
    ViewData["Title"] = "上传";
}

<script type="text/javascript">
</script>

<div class="row">
    <div class="col-md-3">
        <h2>Example</h2>

        <div class="input-group">
            <span class="input-group" id="basic-addon1">上传文件</span>
            <input type="text" class="form-control" placeholder="" value="@DateTime.Now.ToString()" aria-describedby="basic-addon1">
            <input type="file" class="form-control" placeholder="" value="">
        </div>
    </div>
</div>